h1, p {
  font-family: Lato;
}
.main-text{
  color:rgb(96, 160, 135);
  font-size: 2em;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:red;
  transition: 0.5s;
}
.header-title{
  font-size: 2em;
  font-family: arial;
  font-weight:700;
}
footer{
  font-size:20px;
  font-family:arial;
  background: #252525;
  color:white;
  padding:10px;
}

.main-component{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}